<h3>The {{ foreign_word(language.name) }} language</h3>

<p>The official language of {{ foreign_word(city_name) }} is {{ foreign_word(language.name) }}.

{% if isolation == 1 %}
English is widely spoken, but it is considered polite to use a little {{ foreign_word(language.name) }}.

{% elif isolation == 2 %}
Some English is spoken in {{ foreign_word(city_name) }}, particularly at tourist-friendly attractions, but it helps to know a little of the local language.

{% elif isolation == 3 %}
English is not widely spoken in {{ foreign_word(city_name) }}, and some key phrases in {{ foreign_word(language.name) }} will make a visit easier.

{% else %}
You are unlikely to find any English speakers in {{ foreign_word(city_name) }}, so at least a general knowledge of {{ foreign_word(language.name) }} will go a long way.
{% endif %}
</p>

{% if language.stats.vowels | length < 4 %}
<div class="fun-fact">
<p>Did you know, {{ foreign_word(language.name) }} only has {{ language.stats.vowels | length | number_format }} vowels?</p>
</div>
{% endif %}

<div class="grid-x grid-margin-x grid-margin-y">
    <div class="cell medium-auto">
        <p>Hello: {{ foreign_word(dictionary['helloNN']) }}</p>
        <p>Thank you: {{ foreign_word(dictionary['thanksNN']) }}</p>
        <p>Goodbye: {{ foreign_word(dictionary['goodbyeNN']) }}</p>
    </div>

    <div class="cell medium-auto hide-for-small-only">
        <p>Sorry: {{ foreign_word(dictionary['sorryNN']) }}</p>
        <p>My name is _: {{ foreign_word(dictionary['iPRP']) }} {{ foreign_word(dictionary['nameNN']) }} _</p>
        <p>Where is _: {{ foreign_word(dictionary['whereRB']) }} _</p>
    </div>
</div>

{% call more('language') %}
<h3>Learn a New {{ foreign_word(language.name, capitalize=True) }} Word</h3>
<div id="dictionary" class="grid-x grid-margin-x">
    {% for section in (dictionary | sort_dict) %}
        <div class="cell medium-auto grid-y">
        {% for word in section %}
            <div class="cell medium-auto">
                <strong>{{ foreign_word(word, capitalize=True) }}</strong> [{{ word | ipa }}]<br>
                <em>{{ word['display_pos'] }}</em>: {{ (word.definition or word.translation) | safe | capitalize }}
            </div>
        {% endfor %}
        </div>
    {% endfor %}
</div>

{% endcall %}
