body {
    font-size: 14pt;
    font-family: 'Garamond', Georgia, serif;
    margin: 0;
    padding: 0;
}

body > * > * {
    margin: 0 auto;
    max-width: 85rem;
}

header {
    text-align: center;
    margin-top: 3.5em;
}

h1, h2, h3, h4 {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
}

h1 {
    font-size: 3em;
    letter-spacing: 0.1em;
}

h1, header::after {
    color: #ccc;
    text-shadow:
        0.02em 0.02em 0 #f00,
        -0.02em 0.02em 0 #0f0,
        -0.02em -0.02em 0 #00f;
}

header::after {
    content: '\2756';
    margin: 1em 0;
    font-size: 2em;
    display: block;
}

nav {
    margin-top: 2em;
}

nav a {
    color: black;
    font-family: 'Lato', sans-serif;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    font-size: 0.8rem;
}

nav a::after {
    content: '\2B29';
    color: #dc4405;
    margin: 1em;
}
nav a:last-child::after {
    content: '';
    margin: 0;
}

h2 {
    text-align: center;
    font-size: 4em;
    line-height: 0.7em;
    letter-spacing: 0.1em;
    margin: 0;
}

h2 small {
    display: block;
    font-size: 0.7rem;
    letter-spacing: 0.3rem;
}

.container {
    line-height: 1.45em;
    padding: 0;
    max-width: 85em;
}

.grid-y {
    height: 100%;
}

section {
    padding: 2em;
    color: white;
    background-color: #3696a4;
}

.ipa {
    font-family: serif;
}
p .word {
    font-style: italic;
}

a {
    text-decoration: none;
}
a:hover {
    color: #000;
}
.button {
    color: #fff;
    font-family: 'Lato', sans-serif;
    display: block;
    background-color: #dc4405;
    border-radius: 3px;
    padding: 0.6em;
    margin: 0 auto;
    text-align: center;
    max-width: 10em;
    text-transform: uppercase;
    font-size: 0.8em;
    cursor: pointer;
}


footer {
    padding: 0.5em 2em;
    margin-top: 3em;
}


/* ---- MODULES -----*/
.list-block section {
    border-right: 1px solid #fff;
}
.list-block section:last-child {
    border: none;
}

.panel-block {
    margin: 2em;
}
.panel-block section {
    background-color: #a59d4c;
}

.weather {
    background-color: #3a537a;
}

.title {
    background-color: #dc4405;
}

.main-info {
    background-color: #516272;
}
