/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(/static/fonts/Lato-Regular.ttf) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(/static/fonts/Lato-Regular.ttf) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}


body {
    font-size: 14pt;
    font-family: 'Garamond', Georgia, serif;
    margin: 0;
    padding: 0;
}

body > * > * {
    margin: 0 auto;
    max-width: 85rem;
}

header {
    text-align: center;
    margin-top: 3.5em;
}

h1, h2, h3, h4 {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
}

header h1 {
    font-size: 3em;
    letter-spacing: 0.1em;
}

header h1, header::after {
    color: #ccc;
    text-shadow:
        0.02em 0.02em 0 #f00,
        -0.02em 0.02em 0 #0f0,
        -0.02em -0.02em 0 #00f;
}

header::after {
    content: '\2756';
    margin: 1em 0;
    font-size: 2em;
    display: block;
}

nav {
    margin-top: 2em;
}

nav a {
    color: black;
    font-family: 'Lato', sans-serif;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    font-size: 0.8rem;
}

nav a::after {
    content: '\2B29';
    color: #dc4405;
    margin: 1em;
}
nav a:last-child::after {
    content: '';
    margin: 0;
}

section h1 {
    text-align: center;
    font-size: 4em;
    line-height: 0.7em;
    letter-spacing: 0.1em;
    margin: 0;
}

section h1 small {
    display: block;
    font-size: 0.7rem;
    letter-spacing: 0.3rem;
}

.container {
    line-height: 1.45em;
    padding: 0;
    max-width: 85em;
}

section {
    padding: 2em;
}

section h2 {
    text-align: center;
    border-bottom: 1px solid black;
    width: 70%;
    margin: 0 auto;
    position: relative;
    top: -1em;
}
section h2 span {
    background-color: #fff;
    position: relative;
    top: 0.4em;
    padding: 0 1em;
}

section .card {
    background-color: #3696a4;
    padding: 2em;
}

.ipa {
    font-family: serif;
}
p .word {
    font-style: italic;
}

a {
    text-decoration: none;
}
a:hover {
    color: #000;
}
.button {
    font-family: 'Lato', sans-serif;
    display: block;
    background-color: rgba(255, 255, 255, 0.65);
    border: 1px solid #fff;
    border-radius: 3px;
    padding: 0.6em;
    margin: 0 auto;
    text-align: center;
    max-width: 10em;
    text-transform: uppercase;
    font-size: 0.8em;
    cursor: pointer;
}


footer {
    padding: 0.5em 2em;
    margin-top: 3em;
}
