<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        {% if city_name %}{{ city_name | latin | capitalize }} - {% endif %}Unfamiliar City
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="/static/css/foundation.min.css">
    <link type="text/css" rel="stylesheet" href="/static/css/base.css">
    <link type="text/css" rel="stylesheet" href="/static/css/icons.css">

    <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.ico">

    {% if color %}
    <style>
        a, .clickable {
            color: {{ color(bg=False) }};
        }
    </style>
    {% endif %}

<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//piwik.grimoire.org/piwik/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '10']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Piwik Code -->

</head>
<body>

<header>
    <h1>Unfamiliar City</h1>
    <nav>
        <a href="/">New city</a>
        <!--<a href="https://twitter.com/unfamiliar_city" target="_blank">Twitter</a>-->
        <!--<a href="/">About</a>-->
    </nav>
</header>

<div class="container">

