{% extends "layout.html" %}
{% block body %}


<section id="map">
    <h2><span>Explore</span></h2>
    <div id="map-wrapper">
        <img src="/static/images/map-{{ seed }}.png" alt="A map of the city">

        <div id="map-labels">
        {% for street in map.road_labels %}
        {% if geography.streets[loop.index] %}
        {% set name = geography.streets[loop.index] | latin | capitalize %}
        {% set y_transform = '1em' if street.theta < 0 else '2em' if street.theta < 1 else '1em' if street.theta < 3.14 else '-2em' %}
        <span style="position: absolute; top: {{ street.y }}px; left: {{ street.x }}px; transform: rotate({{ street.theta }}rad) translate(-{{ name | length / 4 }}em, {{ y_transform }});" class="street-label">
            {{ name }}
        </span>
        {% endif %}
        {% endfor %}

        {% for hood in map.neighborhoods %}
        <span style="position: absolute; top: {{ hood.y }}px; left: {{ hood.x }}px;" class="hood-label">
            {{ hood.name | latin | allcaps }}
        </span>
        {% endfor %}
        </div>

        {% for pin in pins %}
        <div style="position: absolute; top: {{ pin.y }}px; left: {{ pin.x }}px;" class="pin{% if pin.x > 540 %} left{% endif %}">
            <div class="shape"></div>
            {{ pin_icon(pin.type) }}
            <div class="info-popup">
                {% if pin.name %}<h3>{{ pin.name | safe }}</h3>{% endif %}
                {% if pin.description %}<p>{{ pin.description | safe }}</p>{% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</section>

{% for section_item in cards %}

{% if section_item.cards %}
<section id="section_item.title">
    <h2><span>{{ section_item.title }}</span></h2>
    <div class="grid-x grid-margin-x grid-margin-y">
        {% for cardset in section_item.cards | group_cards %}
        <div class="cell medium-auto grid-y grid-margin-y">
            {% for item in cardset %}
            <div class="card cell medium-auto" style="background-color: {{ color() }}">
                {% if item is mapping %}
                {{ generated_card(item) }}
                {% else %}
                {% include '/sections/' + item + '.html' ignore missing %}
                {% endif %}
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</section>
{% endif %}
{% endfor %}

{% endblock %}
