{% extends "simple-layout.html" %}
{% block body %}

{% include 'sections/skyline-header.html' %}

{% include 'sections/travel-advisory.html' %}

{% include 'sections/infopanel.html' %}

{% include 'sections/map.html' %}

{% for section_item in cards %}

{% if section_item.cards %}
<section id="section_item.title">
    <h2><span>{{ section_item.title }}</span></h2>
    <div class="grid-x grid-margin-x grid-margin-y">
        {% for cardset in section_item.cards | group_cards %}
        <div class="cell medium-auto grid-y grid-margin-y">
            {% for item in cardset %}
            <div class="card cell medium-auto" style="background-color: {{ color() }}">
                {% if item is mapping %}
                {{ generated_card(item) }}
                {% else %}
                {% include '/cards/' + item + '.html' ignore missing %}
                {% endif %}
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</section>
{% endif %}
{% endfor %}

<script src="/static/js/functionality.js"></script>
<script src="/static/js/p5.min.js"></script>
<script>
    var skyline_data = {{ skyline|safe }};
</script>
<script src="/static/js/skyline.js"></script>

{% endblock %}

## ----------------- MACROS

{% macro foreign_word(word, with_ipa=False, capitalize=False) %}<span class="word">{% if word.pos in ['LOC', 'NNP'] or capitalize%}{{ word | latin | capitalize }}{% else %}{{ word | latin }}{% endif %}</span>{%if with_ipa %}<span class="ipa"> ({{ word | ipa }})</span>{% endif %}{% endmacro %}

{% macro generated_card(item) %}
<h3>{{ item.title }}</h3>

<p>{{ item.description }}</p>
{% endmacro %}


{% macro more(card) %}
    <div style="display: none">
        {{ caller() }}
    </div><span class="clickable button" onclick="showMore(this)">Show more</span>
{% endmacro %}


{% macro pin_icon(type) %}
<span class="pin-icon icon
{% if type in ['restaurant', 'bakery'] %}
    icon-restaurant
{% elif type == 'temple' %}
    icon-star
{% elif type in ['statue', 'mural'] %}
    icon-camera
{% elif type in ['palace', 'monastery', 'museum', 'capitol'] %}
    icon-castle
{% elif type in ['university', 'library'] %}
    icon-book
{% elif type in ['perfume_shop', 'bookstore', 'kiln'] %}
    icon-shopping
{% else %}
    icon-eye
{% endif %}
"></span>
{% endmacro %}


{% macro weather_icon(weather) %}
{% if weather.precipitation == 'rain' %}
<span class="icon icon-cloud-rain"></span>
{% elif weather.precipitation == 'snow' %}
<span class="icon icon-cloud-snow"></span>
{% elif weather.humidity < 70 and weather.is_day %}
<span class="icon icon-sun"></span>
{% elif weather.humidity < 70 %}
<span class="icon icon-moon-stars"></span>
{% elif weather.humidity < 80 and weather.is_day %}
<span class="icon icon-cloud-sun"></span>
{% elif weather.humidity < 80 %}
<span class="icon icon-cloud-moon"></span>
{% else %}
<span class="icon icon-clouds"></span>
{% endif %}
{% endmacro %}
