{% macro foreign_word(word, with_ipa=False, capitalize=False) %}
      <span class="word">{% if word.pos in ['LOC', 'NNP'] or capitalize%}{{ word | latin | capitalize }}{% else %}{{ word | latin }}{% endif %}</span>{%if with_ipa %}<span class="ipa"> ({{ word | ipa }})</span>{% endif %}{% endmacro %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Unfamiliar City</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="static/css/base.css">

    <link href="https://fonts.googleapis.com/css?family=Lato|Sacramento" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.ico">
</head>
<body>

<header>
    <small>Greetings from</small>
    <h1>Unfamiliar City</h1>
</header>

<div class="container">
<section class="about">
    <p>Founded in 1987, {{ foreign_word(city.name) }} sprung up from the midst of political turmoil into a vibrant community. Wow, not a very long time ago. Lorem ipsum dolor est mat? And then there were another blep bbll sfish and then there were twice as many.</p>


    <p>Welcome to {{ foreign_word(city.name) }}
    Or would you like to see a <a href="/">different city</a>?
    </p>
</section>


<section>
    <h3>{{ foreign_word(city.name) }} cuisine</h3>
    <div>
        <div class="intro">
            <p>
            [ description ]
            </p>
        </div>
        <div class="more">
            <p>Tea is central to {{ foreign_word(city.name) }} life.
            It is drunk from {{ cuisine.tea.cup_description }}, and
            {{ cuisine.tea.description }}.
            </p>
            {% for fruit in cuisine.fruits %}
            <p>
            {{ foreign_word(fruit, with_ipa=True, capitalize=True) }}:
            {{ fruit.translation }}
            </p>
            {% endfor %}
        </div>
    </div>
</section>

<section>
    <h3>Gender</h3>
    <div>
        <div class="intro">
            {{ foreign_word(city.name) }}ian culture has {{ genders | length | number_format }} genders. 
        </div>
        <div class="more">
            Details, details, details
        </div>
    </div>
</section>
</div>

<footer>
    <p>created by <a href="https://www.mousereeve.com" target="_blank">Mouse Reeve</a></p>
</footer>
</body>
</html>


