{% macro foreign_word(word, with_ipa=False, capitalize=False) %}
      <span class="word">{% if word.pos in ['LOC', 'NNP'] or capitalize%}{{ word | latin | capitalize }}{% else %}{{ word | latin }}{% endif %}</span>{%if with_ipa %}<span class="ipa"> ({{ word | ipa }})</span>{% endif %}{% endmacro %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ city.name | latin | capitalize }} - Unfamiliar City</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="static/css/foundation.min.css">
    <link type="text/css" rel="stylesheet" href="static/css/base.css">

    <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.ico">

</head>
<body>

<header>
    <h1>Unfamiliar City</h1>
    <nav>
        <a href="/">New city</a>
        <a href="https://twitter.com/unfamiliar_city" target="_blank">Twitter</a>
        <a href="/">About</a>
    </nav>
</header>

<div class="container">

<section id="title">
    <div class="grid-x grid-margin-x grid-margin-y">
        <div class="card cell medium-12" style="background-color: {{ color() }}">
            <h1>
                <small>Welcome to</small>
                {{ foreign_word(city.name) }}
            </h1>
            <p>{{ foreign_word(city.name) }} is a real neat ancient city, build on the
            bones of children sacrificed to the fanged god.</p>
        </div>
    </div>
</section>

{% for section_item in cards %}
<section id="section_item.title">
    <h2><span>{{ section_item.title }}</span></h2>
    <div class="grid-x grid-margin-x grid-margin-y">
        {% for item in section_item.cards %}
        <div class="cell medium-6">
            <div class="card cell medium-{{ size }}" style="background-color: {{ color() }}">
                {% include '/sections/' + item + '.html' %}
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endfor %}

</div>

<footer>
    <p>created by <a href="https://www.mousereeve.com" target="_blank">Mouse Reeve</a></p>
</footer>
</body>
</html>

