{% extends "layout.html" %}
{% block body %}

{% for section_item in cards %}
<section id="section_item.title">
    <h2><span>{{ section_item.title }}</span></h2>
    <div class="grid-x grid-margin-x">
        {% for cardset in section_item.cards | group_cards %}
        <div class="cell medium-auto grid-y grid-margin-y">
            {% for item in cardset %}
            <div class="card cell medium-auto" style="background-color: {{ color() }}">
                {% include '/sections/' + item + '.html' ignore missing %}
                <p>({{ item }})</p>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</section>
{% endfor %}

{% endblock %}
