{% macro foreign_word(word, with_ipa=False, capitalize=False) %}<span class="word">{% if word.pos in ['LOC', 'NNP'] or capitalize%}{{ word | latin | capitalize }}{% else %}{{ word | latin }}{% endif %}</span>{%if with_ipa %}<span class="ipa"> ({{ word | ipa }})</span>{% endif %}{% endmacro %}

{% macro more(card) %}
    {% if not this_card %}
        <a class="button" href="/{{ seed }}/{{ card }}#content">Learn more</a>
    {% else %}
        {{ caller() }}
    {% endif %}
{% endmacro %}

{% macro generated_card(item) %}

<h3>{{ item.title }}</h3>

<p>{{ item.description }}</p>

{% endmacro %}


{% macro weather_icon(weather) %}
{% if weather.precipitation == 'rain' %}
<span class="icon icon-cloud-rain"></span>
{% elif weather.precipitation == 'snow' %}
<span class="icon icon-cloud-snow"></span>
{% elif weather.humidity < 70 and weather.is_day %}
<span class="icon icon-sun"></span>
{% elif weather.humidity < 70 %}
<span class="icon icon-moon-stars"></span>
{% elif weather.humidity < 80 and weather.is_day %}
<span class="icon icon-cloud-sun"></span>
{% elif weather.humidity < 80 %}
<span class="icon icon-cloud-moon"></span>
{% else %}
<span class="icon icon-clouds"></span>
{% endif %}
{% endmacro %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ city_name | latin | capitalize }} - Unfamiliar City</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="/static/css/foundation.min.css">
    <link type="text/css" rel="stylesheet" href="/static/css/base.css">
    <link type="text/css" rel="stylesheet" href="/static/css/icons.css">

    <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.ico">

</head>
<body>

<header>
    <h1>Unfamiliar City</h1>
    <nav>
        <a href="/">New city</a>
        <a href="https://twitter.com/unfamiliar_city" target="_blank">Twitter</a>
        <a href="/">About</a>
    </nav>
</header>

<div class="container">

<section id="title">
    <div class="grid-x grid-margin-x grid-margin-y">
        <div class="card cell medium-auto" style="background-color: {{ color() }}">
            <h1>
                <small>Welcome to</small>
                {{ foreign_word(city_name) }}
            </h1>
            <p>{{ foreign_word(city_name) }} is
            {% if city_age == 'new' %}an exciting, fast-paced new
            {% elif city_age == 'modern' %}a modern metropolis with a rich history
            {% elif city_age == 'ancient' %}an ancient{% endif %}
            city, build on the bones of children sacrificed to the fanged god.</p>
        </div>
    </div>
</section>

<section id="infopanel">
    <div class="grid-x grid-margin-x grid-margin-y">
        <div class="card cell medium-auto">
            <h3>{{ weather.time }}</h3>
            <p>
                <span class="weather-now">{{ weather.temp | int }}&deg;C</span>
                {{ weather_icon(weather) }}

                <span class="weather-detail">
                    <span class="high">{{ weather.high | int }}&deg;C</span> /
                    <span class="low">{{ weather.low | int }}&deg;C</span>
                </span>
            </p>
            <p>
                <a href="{{ seed }}/weather#content">7 Day Forecast</a>
            </p>
        </div>
        <div class="card cell medium-auto">
            <h3>Region</h3>
            <p>{{ foreign_word(city_name) }} is situated in the
            {% if climate.id in ['tropical_rainforest', 'tropical_monsoon'] %}
            lush

            {% elif climate.id in ['hot_desert', 'arid', 'semi_arid'] %}
            striking

            {% elif climate.id in ['mediterranean', 'continental'] %}
            scenic

            {% elif climate.id in ['oceanic', 'subpolar_oceanic'] %}
            stark

            {% elif climate.id == 'subarctic' %}
            icy
            {% endif %}

            {{ terrain }} region of {{ foreign_word(country) }} known as {{ foreign_word(dictionary['regionNN']) }}.
            </p>
        </div>
        <div class="card cell medium-auto">
            <h3>Get In</h3>
            <p>{{ foreign_word(city_name) }} can be accessed by camel. Book a camel today</p>
        </div>
        <div class="card cell medium-auto">
            <h3>Exchange Rate</h3>
            <p>$1 USD = {{ get_exchange_rate() }} {{ foreign_word(currency) }}</p>
        </div>
    </div>
</section>


{% block body %}{% endblock %}
</div>

<footer>
    <p>created by <a href="https://www.mousereeve.com" target="_blank">Mouse Reeve</a></p>
</footer>
</body>
</html>

