{% macro foreign_word(word, with_ipa=False, capitalize=False) %}<span class="word">{% if word.pos in ['LOC', 'NNP'] or capitalize%}{{ word | latin | capitalize }}{% else %}{{ word | latin }}{% endif %}</span>{%if with_ipa %}<span class="ipa"> ({{ word | ipa }})</span>{% endif %}{% endmacro %}

{% macro more(card) %}
    {% if not this_card %}
        <a class="button" href="/city/{{ seed }}/{{ card }}#content">Learn more</a>
    {% else %}
        {{ caller() }}
    {% endif %}
{% endmacro %}

{% macro generated_card(item) %}

<h3>{{ item.title }}</h3>

<p>{{ item.description }}</p>

{% endmacro %}


{% macro weather_icon(weather) %}
{% if weather.precipitation == 'rain' %}
<span class="icon icon-cloud-rain"></span>
{% elif weather.precipitation == 'snow' %}
<span class="icon icon-cloud-snow"></span>
{% elif weather.humidity < 70 and weather.is_day %}
<span class="icon icon-sun"></span>
{% elif weather.humidity < 70 %}
<span class="icon icon-moon-stars"></span>
{% elif weather.humidity < 80 and weather.is_day %}
<span class="icon icon-cloud-sun"></span>
{% elif weather.humidity < 80 %}
<span class="icon icon-cloud-moon"></span>
{% else %}
<span class="icon icon-clouds"></span>
{% endif %}
{% endmacro %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ city_name | latin | capitalize }} - Unfamiliar City</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="/static/css/foundation.min.css">
    <link type="text/css" rel="stylesheet" href="/static/css/base.css">
    <link type="text/css" rel="stylesheet" href="/static/css/icons.css">

    <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.ico">

    <script src="/static/js/bower_components/p5.js/lib/p5.min.js"></script>
    <script src="/static/js/bower_components/skyline/skyline.min.js"></script>

    <style>
        a {
            color: {{ color(bg=False) }};
        }
    </style>

<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//piwik.grimoire.org/piwik/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '10']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Piwik Code -->

</head>
<body>

<header>
    <h1>Unfamiliar City</h1>
    <nav>
        <a href="/">New city</a>
        <a href="https://twitter.com/unfamiliar_city" target="_blank">Twitter</a>
        <!--<a href="/">About</a>-->
    </nav>
</header>

<div class="container">

<section id="title">
    <div id="skyline" data-seed="{{ seed }}" data-climate="{{ climate.gross_classification }}"></div>
    <div class="grid-x grid-margin-x grid-margin-y">
        <div class="card cell medium-auto {{ climate.gross_classification }}">
            <h1>
                <small>Welcome to</small>
                {{ foreign_word(city_name) }}
            </h1>
            <p>{{ slogan | capitalize }}</p>
        </div>
    </div>
</section>

{% if advisory %}
<section class="travel-advisory">
    <div>
        <h3>Safety Notice</h3>
        <p>The Travel Commission advises against any travel to {{ city_name | latin | capitalize }} due to
        <span class="comma-separated">{% for badthing in advisory %}<span>{{ badthing }}</span>{% endfor %}</span>.
        </p>
    </div>
</section>
{% endif %}

<section id="infopanel">
    <div class="grid-x grid-margin-x grid-margin-y">
        <div class="card cell medium-auto">
            <h3>{{ weather.time }}</h3>
            <p>
                <span class="weather-now">{{ weather.temp | int }}&deg;C</span>
                {{ weather_icon(weather) }}

                <span class="weather-detail">
                    <span class="high">{{ weather.high | int }}&deg;C</span> /
                    <span class="low">{{ weather.low | int }}&deg;C</span>
                </span>
            </p>
            <p>
                <a href="/city/{{ seed }}/weather#content">7 Day Forecast</a>
            </p>
        </div>
        <div class="card cell medium-auto">
            <h3>Region</h3>
            <p>{{ foreign_word(city_name) }} is situated in the
            {% if climate.id in ['tropical_rainforest', 'tropical_monsoon'] %}
            lush

            {% elif climate.id in ['hot_desert', 'arid', 'semi_arid'] %}
            striking

            {% elif climate.id in ['mediterranean', 'continental'] %}
            scenic

            {% elif climate.id in ['oceanic', 'subpolar_oceanic'] %}
            stark

            {% elif climate.id == 'subarctic' %}
            icy
            {% endif %}

            {{ terrain }} region of {{ foreign_word(country) }} known as {{ foreign_word(geography.region) }}.
            </p>
        </div>
        <div class="card cell medium-auto">
            <h3>Get In</h3>
            {% if stats.insularity < 0.3 and stats.population > 10000 %}
            <p>Book a flight to the {{ foreign_word(city_name) }} International Airport.</p>
            {% elif stats.insularity < 0.5 %}
            <p>The {{ foreign_word(city_name) }} Airport has domestic flights connections within {{ foreign_word(country) }}. <a href="#">Book today</a></p>
            {% elif stats.insularity < 0.7 %}
            <p>{{ foreign_word(city_name) }} can be accessed by train from nearby cities. <a href="#">Book tickets today</a></p>
            {% else %}
            <p>The best way in to {{ foreign_word(city_name) }} is to hire a local guide in the nearby city of {{ foreign_word(neighboring_city) }}.</p>
            {% endif %}
        </div>
        <div class="card cell medium-auto">
            <h3>Exchange Rate</h3>
            <p>$1 USD = {{ get_exchange_rate() }} {{ foreign_word(currency) }}</p>
            <p><a href="#">Learn more about {{ foreign_word(city_name) }} currency</a></p>
        </div>
    </div>
</section>


{% block body %}{% endblock %}
</div>

<footer>
    <p>created by <a href="https://www.mousereeve.com" target="_blank">Mouse Reeve</a></p>
</footer>
</body>
</html>

